{% extends 'userapp/blank_layout_user.html' %}
{% load static %}

{% block content %}

<style>
    .bg-image {
        /* Behind the links */
        background-image: url("{% static 'images/school1.jpg' %}");
        width: 100%;
        height: 400px;
    }

    /* Mobile height */
    @media (max-width: 767px) {
        .bg-image {
            height: 180px;
        }
    }



    .custom-img {
        width: 370px;
        height: 300px;
        margin: 20px 20px -20px 5px;
    }

    @media (min-width: 768px) {
        .custom-img {
            height: 200px;
            width: 720px;
        }
    }

    .bg-image1 {
        width: 100%;
        height: 450px;
        /* Default desktop height */
        object-fit: cover;
        border-radius: 1rem;
        display: block;
        margin: 0 auto;
        user-select: none;
        pointer-events: none;
    }

    /* Mobile height */
    @media (max-width: 767px) {
        .bg-image1 {
            height: 350px;
            /* Smaller height on mobile */
        }
    }

    .bg-image img.rounded-5 {
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
    }

    .custom-img1 {
        width: 0px;
        height: 0px;
    }

    @media (min-width: 768px) {
        .custom-img1 {
            height: 450px;
            width: 725px;
        }
    }

    .bg-gradient-opacity {
        background: linear-gradient(135deg, rgba(0, 123, 255, 0.65), rgba(0, 255, 123, 0.65));
    }

    .background-area {
        background-size: cover;
        background-position: center;
        height: 550px;
        position: relative;
        border-radius: 20px;
    }

    @media (max-width: 767px) {
        .background-area {
            background-position: right center;
            /* change to right alignment on mobile */
        }
    }

    .link-dot {
        position: absolute;
        width: 50px;
        height: 60px;
        background-color: #ffffff00;
        color: rgba(0, 0, 0, 0);
        text-align: center;
        line-height: 30px;
        font-weight: bold;
        text-decoration: none;
        transition: transform 0.2s;
    }

    .dot1 {
        margin-top: -90px;
        margin-left: 80px;
        opacity: 30%;

    }

    .dot2 {
        margin-top: -90px;
        margin-left: 1px;
        opacity: 30%;

    }

    .dot3 {
        margin-top: -90px;
        margin-left: 1px;
        opacity: 30%;

    }

    .dot4 {
        margin-top: -90px;
        margin-left: 1px;
        opacity: 30%;

    }

    .dot5 {
        margin-top: -90px;
        margin-left: 1px;
        opacity: 30%;

    }

    @media (max-width: 767px) {
        .dot1 {
            margin-top: -60px;
            margin-left: 30px;
            opacity: 30%;

        }

        .dot2 {
            margin-top: -60px;
            margin-left: 0.1px;
            opacity: 30%;

        }

        .dot3 {
            margin-top: -60px;
            margin-left: 0.5px;
            opacity: 30%;

        }

        .dot4 {
            margin-top: -60px;
            margin-left: 0.5px;
            opacity: 30%;

        }

        .dot5 {
            margin-top: -60px;
            margin-left: 0.1px;
            opacity: 30%;

        }
    }





    /* Mobile positions */
</style>

<section class="container-fluid ">
    <div class="row">

        <div class="col-12 col-md-6 ">
            <section class="container-fluid ">
                <div class="position-relative d-flex justify-content-center align-items-center bg-image1">
                    <img src="{% static 'images/daffo.jpg' %}" alt="..." class="col-12 col-md-12 rounded-5"
                        style="height: 100%; ">


                </div>
            </section>

            <section class="pt-">

            </section>

        </div>

        <div class="col-12 col-md-6 ">
            <section class="container-fluid  bg-image row">


                <img src="{% static 'images/school1.png' %}" alt="..." class="">

                <!-- Each link gets a class for identification -->
                <div class="col-2 col-md-2 dot1">
                    <a href="{% url 'class_a' %}" class="link-dot ">1</a>
                </div>
                <div class="col-2 col-md-2 dot2">
                    <a href="{% url 'class_b' %}" class="link-dot ">2</a>
                </div>
                <div class="col-2 col-md-2 dot3">
                    <a href="{% url 'all_teachers' %}" class="link-dot ">3</a>
                </div>
                <div class="col-2 col-md-2 dot4">
                    <a href="{% url 'class_c' %}" class="link-dot ">4</a>
                </div>
                <div class="col-2 col-md-2 dot5">
                    <a href="{% url 'class_d' %}" class="link-dot ">5</a>
                </div>


        </div>
</section>

<section class="pt-2">

</section>

</div>

<div class=" col-12 col-md-12 ">
    <section class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-4 col-md-2 pt-2">
                <div class="card rounded-4 border bg-gradient-opacity border-primary border-3 px-0">
                    <a href="{% url 'view_profile' %}" style="height: 100px;">
                        {% if profile.photo %}
                        <img src="{{ profile.photo.url }}" class="card-img-top mx-auto d-block"
                            style="border-radius: 13px; width: 90%; height: 90%;margin-top: 5px;" alt="Profile Photo" />
                        {% else %}
                        <img src="{% static 'images/prp.png' %}" class="card-img-top mx-auto d-block"
                            style="border-radius: 13px; width: 90%; height: 90%;margin-top: 5px;" alt="Profile Photo" />
                        {% endif %}
                    </a>
                    <h5 class="text-center pt-2" style="color: rgb(0, 0, 0);">View Profile</h5>
                </div>

            </div>

            <div class="col-4 col-md-2 pt-2">
                <div class="card rounded-4 border bg-gradient-opacity border-primary border-3 px-0 ">
                    <a href="{% url 'view_gallery' %}"><img src="{% static 'images\d4.png' %}" class="card-img-top "
                            style="border-radius: 13PX;height:100PX;" alt=""></a>
                    <H5 class="text-center pt-2" style="color: rgb(0, 0, 0);">Gallery</H5>
                </div>
            </div>
            <div class="col-4 col-md-2 pt-2">
                <div class="card rounded-4 border bg-gradient-opacity border-primary border-3 px-0 ">
                    <a href="{% url 'view_event' %}"><img src="{% static 'images\d5.png' %}" class="card-img-top "
                            style="border-radius: 13PX;height:100PX;" alt=""></a>
                    <H5 class="text-center pt-2" style="color: rgb(0, 0, 0);">Events</H5>
                </div>
            </div>





        </div>
    </section>
</div>
</div>
</section>
<br>




{% endblock %}